<!DOCTYPE html>
<html>
<head>
  <title>酒吧</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="styles/bar/normalize.css"> 
  <link rel="stylesheet" href="styles/bar/style.css">  
</head>
<body>
	<div id='wine-detail-page'>  

      <div class='header'>
        <div class='img-con'><img src='images/return.png'></div>
        <h1>酒品详情</h1>
      </div>    
      
      <div class='content'>
         <img src='/images/head/<%= wine_image %>' />
         <div class='wine-info'>
           <p class='head'><span class='wine-name'><%= wine_name %></span><span class='wine-discount-price'>&#165;<%= wine_dis_price %></span><span class='wine-price'>&#165;<%= wine_price %></span></p>
           <p class='a-m-con'>
              <img class='add-order' src='images/add.png' data-id='<%= wine_id %>' />
              <span class='num'><%= wine_num %></span>              
              <img class='minus-order' src='images/minus-1.png' data-id='<%= wine_id %>'/>
           </p>
           <p class='wine-des'>
              <%= wine_des %>
             <!-- Rochefort啤酒是著名的7大修道院啤酒品牌（trappist beer）中的一员。Rochefort啤酒生产于比利时de Saint Remy（圣雷米）修道院内，这个修道院坐落于名叫Rochefort的城镇，所以这个修道院的啤酒就以此地名命名了。Rochefort brewery的主要产品有三种：6，8，10，其中Rochefort 10是最浓烈的一款，也是外界评价最高的一款，这款酒有几乎和葡萄酒一样的酒精度（11.3% ABV）和厚重浓郁的口感，非常适合秋冬季节引用。 -->
           </p>
         </div>  
      </div>
    </div>    
	
  <script src="js/zepto/zepto.min.js"></script>
  <script src="js/bar/cookie.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B4aa49233be137b159257762c65652fd"></script>
	<script src="js/bar/index.js"></script>
	
</body>